.container {

    .img {
        max-height: 200px;
        margin-bottom: 20px;
        position: relative;
        width: 100%;

    }
    input[checkbox] {
        width: 20px;
        height: 20px;
    }
    .holder {
        cursor: pointer;
        max-height: 200px;
        margin-bottom: 10px;
        min-height: 200px;
        overflow: hidden;
        opacity: 0.5;
    }
    .selected {
        opacity: 1;
    }
}
